<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <title>DocHTML</title>
    </head>
        <body>
        <table>
            <thead>
            <tr>
                <th> EndpointType </th>
                <th> MethodView </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${view}">
                <td colspan="2"> No Method Available </td>
            </tr>
            <tr th:each="DocumentationEndpoint : ${DocumentationEndpoint}">
                <td><span th:text="${DocumentationEndpoint.endpoint}"> Title </span></td>
                <td><span th:text="${DocumentationEndpoint.view}"> Author </span></td>
            </tr>
            </tbody>
        </table>
        </body>
</html>