table {
         border-collapse: collapse; /* Отображать двойные линии как одинарные */
        }
        th {
         background: #ccc; /* Цвет фона */
         text-align: center; /* Выравнивание по левому краю */
        }
        td, th {
         border: 1px solid #800; /* Параметры границы */
         padding: 6px; /* Поля в ячейках */
        }
